.game-menu > ul {
	align-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.game-menu li {
	flex-grow: 1;
	margin-left: 2.5vw;
	margin-top: 2.5vw;
	width: 30vw;
	max-width: 30vw;
}

.game-menu a,
.game-menu a:visited {
	align-items: center;
	background-color: rgba(0, 0, 0, .75);
	color: rgb(200, 200, 200);
	display: flex;
	height: 20vh;
	font-size: 2rem;
	line-height: 100%;
	overflow: hidden;
	text-decoration: none;
}

.game-menu a:hover,
.game-menu a:focus {
	background-color: rgba(0, 0, 0, .65);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .65);
}

.game-menu a > img {
	display: block;
	float: left;
	height: 20vh;
	width: 20vh;
}

.game-menu a > p {
	margin-left: 1rem;
	max-width: 20vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
